/*** Element selector**/
h1                                   
{
 color:purple;
}
h2                                           
{
 color:red;
}
p                                   
{
 color:blue;
}
/** Id selector**/
p#id
{
 color:green;
}
/**Class Selector**/
p.class
{
 color:orange; 
}

/** Group Selector*/
h1.one,h2.two,h3.three
{
 color:brown;
}
/** Universal Selector **/
*
{
 text-align: center;
}