h1{
    text-align: center;
}
.item{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    max-height: 140px;
    padding: 10px;
}
.img{
    width: 200px;
    height: 150px;
}
img{
    object-fit: cover;
    max-width: 200px;
    max-height: 140px;
}
.cont{
    margin: 0;
}
.btn{
    justify-content: center;
}
#butt{
    color: white;
    background-color: #019267;
    width: 100px;
    height: 40px;
    border-radius: 10%;
}